@{
    ViewData["Title"] = "Meal Plan";
}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Dodaj plan posiłków</h1>
        <p class="lead">Utwórz plan żywieniowy na dłuższy termin. Wybierz okres czasu, który ma obejmować plan i wybierz z listy przepisów te, które mają wchodzić w twój plan. Na jego podstawie zostanie wygenerowana lista potrzebnych składników.</p>
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="MealPlan" asp-action="InsertMealPlan" role="button">DODAJ PLAN »</a>
    </div>
</main>