@{
    ViewData["Title"] = "Recipe";
}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Dodaj przepis</h1>
        <p class="lead">Dodaj nowy przepis. Wybierz potrzebne składniki i opisz kroki, jakie należy zrobić, aby go wykonać</p>
        <a class="btn btn-lg btn-primary" role="button" asp-area="" asp-controller="Recipe" asp-action="Ingredient">DODAJ PRZEPIS »</a>
    </div>
</main>