@{
    ViewData["Title"] = "Meal Plan";
}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Dodaj plan posiłków</h1>
        <p class="lead">Utwórz plan na wybrany okres czasu. Wybierz z listy przepisów te, które mają wchodzić w twój plan. Na jego podstawie zostanie wygenerowana lista potrzebnych składników.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">DODAJ PLAN »</a>
    </div>
</main>