@{
    ViewData["Title"] = "Ingredients";
}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Dodaj składnik</h1>
        <p class="lead">Dodaj nowy składnik. Jest to niezbędne do dodania nowych przepisów, których składniki nie zostały dodane.</p>
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Ingredient" asp-action="InsertIngredient" role="button">DODAJ SKŁADNIK »</a>
    </div>
</main>